/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

/* Navbar Styles */
.navbar {
    background-color: #3b3b3b;
    color: #939696;
    padding: 10px;
    /* position: relative; */
}

.logo {
    margin: 0;
    font-size: 24px;
    color: #e7e7e2;
    display: inline-block;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.nav-links li {
    display: inline-block;
    margin-right: 10px;
}

.nav-links li a {
    color: #999a98;
    text-decoration: none;
    padding: 5px;
}


.abc {
    background-color: #e1e2dbe0;
    text-align: center;
    padding: 100px 0;
}

.title {
    font-size: 48px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 24px;
    color: #666;
    margin-bottom: 40px;
}

.profile-image {
    display: flex;
    justify-content: center;
}

.profile-img {
    width: 200px;
    /* Adjust the width and height as per your requirement */
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
    /* This ensures the image fills the circular container */
}

.cta-button {
    padding: 10px 20px;
    background-color: #333;
    color: #e3ebeae0;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color:#e1e2dbe0;
}

/* About Section Styles */
.about-description {
    font-size: 18px;
    color: black;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

/* Skills Section Styles */
.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.skills-list li {
    margin-right: 20px;
}

.skills-list li button {
    display: inline-block;
    background-color: #1f1f1f;
    color: #e1e2dbe0;
    padding: 8px 16px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.skills-list li button:hover {
    background-color: #515050;
}

/* Projects Section Styles */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.project {
    background-color: #e1e2dbe0;
    padding: 20px;
    border-radius: 5px;
}

.project-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-description {
    font-size: 18px;
    color: #666;
}

.project {
    position: relative;
}

.project-link {
    position: absolute;
    bottom: 10px;
}

.button {
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    padding: 8px 16px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    /* position: relative; */
}

.button:hover {
    background-color: #d30813;
}

/* Contact Section Styles */
.contact-form {
    text-align: center;
    margin-bottom: 40px;
}

.form-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
}

.contact-form button {
    padding: 10px 20px;
    background-color:#1d2008e0;
    color:#e3ebeae0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color:#091d1ae0;
}

.social-links {
    text-align: center;
}

.social-links-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin-right: 10px;
}

.social-icons li a {
    color: #864545;
    font-size: 24px;
    text-decoration: none;
}

/* Footer Section Styles */
.footer {
    background-color: #202020;
    color: #ecd3d3;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .hero-title {
        font-size: 32px;
    }

    .hero-subtitle {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .section-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .project-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 24px;
    }

    .hero-subtitle {
        font-size: 16px;
    }

    .section-title {
        font-size: 20px;
    }

    .about-description {
        font-size: 16px;
    }

    .project-title {
        font-size: 20px;
    }

    .project-description {
        font-size: 16px;
    }

    .form-title {
        font-size: 24px;
    }

    .social-links-title {
        font-size: 20px;
    }
}

/* Custom Styles */
.image-placeholder {
    text-align: center;
    margin: 40px 0;
}

.image-placeholder img {
    max-width:100%;
    height: auto;
}

/* Licenses and Certifications Section */
#licenses {
    background-color:black;
    padding: 60px 0;
}

.license {
    margin-bottom: 40px;
}

.license-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.license-issuer {
    color:#bdbcbca2;
    margin-bottom: 5px;
}

.license-date {
    color: #2889c1;
    margin-bottom: 5px;
}

.credential-id {
    color: #1248b4;
    margin-bottom: 15px;
}

.show-credential {
    background-color: #e2267e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
